<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.MvvmCross.Plugins.Settings" version="2.2.0" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="3.5.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.5.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.PortableSupport" version="3.5.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="xamarinios10" />
</packages>